<app-navbar/>
<div class="parent">
  <div class="container">
    <div class="container">
      <h2>Reviews for {{ roommate?.firstName }} {{ roommate?.lastName }}</h2>
      <div *ngIf="reviews && reviews.length > 0">
        <div class="card" *ngFor="let review of reviews">
          <div class="card-body">
            <p><strong>Responsibility:</strong> {{ review.responsibility }}</p>
            <p><strong>Cleanliness:</strong> {{ review.cleanliness }}</p>
            <p><strong>Friendliness:</strong> {{ review.friendliness }}</p>
            <p><strong>Noise:</strong> {{ review.noise }}</p>
            <p><strong>Pet Friendly:</strong> {{ review.petFriendly }}</p>
            <p><strong>Smoking:</strong> {{ review.smoking }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="!reviews || reviews.length === 0">
        <h3 class="mt-10">No Reviews Available for {{roommate?.firstName}}</h3>
      </div>
      <button class="btn btn-primary mt-3" (click)="navigateToReview(roommate)">Leave a Review</button>
    </div>
  </div>
</div>
