<app-navbar/>
<div class="parent">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let roommate of roommates">
        <div class="card">
          <img [src]="roommate.pfp" class="card-img-top" alt="profile picture">
          <div class="card-body">
            <h5 class="card-title">{{ roommate.firstName }} {{ roommate.lastName }}</h5>
            <p class="card-text"><strong>Age:</strong> {{ calculateAge(roommate.dob) }}</p>
            <p class="card-text"><strong>School Name:</strong> {{ roommate.schoolName }}</p>
            <p class="card-text"><strong>Prefer to Live With:</strong> {{ roommate.gender}}</p>
            <div *ngIf="roommate.reviews.length > 0">
              <h5 class="mt-3 mb-2">Average Ratings</h5>
              <p class="card-text"><strong>Responsibility:</strong>{{ calculateAverageRating(roommate, "responsibility") }}</p>
              <p class="card-text"><strong>Cleanliness:</strong> {{ calculateAverageRating(roommate, "cleanliness") }}</p>
              <p class="card-text"><strong>Friendliness:</strong> {{ calculateAverageRating(roommate,"friendliness") }}</p>
              <p class="card-text"><strong>Noise:</strong> {{ calculateAverageRating(roommate, "noise") }}</p>
              <p class="card-text"><strong>Pet Friendly:</strong> {{ calculateDisplayBooleans(roommate).petFriendly}}</p>
              <p class="card-text"><strong>Smoking:</strong> {{ calculateDisplayBooleans(roommate).smoking}}</p>
            </div>
            <button (click)="navigateToAllReviews(roommate)" class="btn btn-primary m-2" >See all Reviews</button>
            <button (click)="navigateToReview(roommate)" class="btn btn-primary m-2">Add a New Review</button>
            <button (click)="navigatetoUserDetails(roommate)" class="btn btn-primary m-2">Update Profile</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
