.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;
}
.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 3.2em;
  line-height: 48px;
  padding-bottom: 48px;
  color: #e7717d;
  background: #e7717a;
  background: -moz-linear-gradient(to left, #ee7767 0%, #e7717d 100%) !important;
  background: -webkit-linear-gradient(to left, #ee7767 0%, #e7717d 100%) !important;
  background: linear-gradient(to right, #ee7767 0%, #e7717d 100%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

#addForm .form-field {
  position: relative;
  margin: 32px 0;
}
#addForm .form-control {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #e7717d;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
#addForm .form-control:focus {
  outline: none;
}
#addForm .form-control:focus + .label,
#addForm .form-control.not-empty + .label {
  transform: translateY(-24px);
}
#addForm .form-label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #e7717d;
  cursor: text;
  transition: -webkit-transform .2s ease-in-out;
}
#addForm .btn-primary {
  display: inline-block;
  background-color: #000;
  background-image: linear-gradient(125deg,#ee7767,#e7717d);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  padding: 8px 16px;
  border: none;
  width:200px;
  cursor: pointer;
}

input, label{
  color: #e7717d;
}

h2{
  color: #ee7777;
}
